page-content {
    .left-menu{
        //margin-left: -20px;
        font-size: 32px;
        color: #488aff;
    }
    .search-menu{
        float: right;
        font-size: 24px;
        color: #488aff;
    }

    button{
        background: rgba(0,0,0,0);
    }
    .title-md{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}
